.ukraine {
  position: relative;
  width: 356px;
  height: 474px;
  border-radius: 16px;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}
.ukraine-tittle {
  color: #fff;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.96px;
  padding-left: 40px;
  padding-top: 26px;
  margin: 0;
}
.ukraine-svg {
  margin-left: 12px;
}
.ukraine-solider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // list-style: none;
  // text-decoration: none;
}
.svg-btn {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}
// .charityList {
//   display: none;
// }

// .charityList a {
//   color: white; /* Zmieniamy kolor tekstu na biały */
//   text-decoration: none; /* Opcjonalnie usuwamy podkreślenie linków */
// }
.logo__item {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 32px;
}
.fundNumber {
   color: #ffffff;
}
.logo__img{
display:flex;
}