  // COLOR VARIABLES
    $color-purple: #4F2EE8;
    $color-yellow: #EAC645;
    $color-header-black: #111111;
    $color-background-dark-mode-black1: #202024;
    $color-white: #FFFFFF;
    $color-scroll-up: #4f2ee8;
    $color-font-light-theme: #11111199;
    $color-font-dark-theme: #FFFFFF99;
    $color-linear-gradient-primary: #DCDCDC;
    $color-linear-gradient-secondary: #F7F7F7;

    
//FONT-FAMILY
    $font-family-primary: "DM Sans", sans-serif;