<div class="layout">
  <aside>
    <div class="home__category-container container_active">
      <ul class="categories-list"></ul>
    </div>
  </aside>
   
  <section id="popularBooks">
    <h1>Best Sellers Books</h1>
    <div class="popular-books-gallery">
      <!-- To jest pierwszy div z 4 kategoriami, każda kategoria ma swoją sekcję -->
      <div class="category-section" id="category-1">
        <h2></h2>
        <div id="book-list-1" class="book-list"></div>
        <button type="button" class="see-more__btn" data-category="1">See More</button>
      </div>
      <div class="category-section" id="category-2">
        <h2>Kategoria 2</h2>
        <div id="book-list-2" class="book-list">
          <!-- Tutaj będą wyświetlane książki z Kategorii 2 -->
        </div>
        <button type="button" class="see-more__btn" data-category="2">See More</button>
      </div>
      <div class="category-section" id="category-3">
        <h2>Kategoria 3</h2>
        <div id="book-list-3" class="book-list">
          <!-- Tutaj będą wyświetlane książki z Kategorii 3 -->
        </div>
        <button type="button" class="see-more__btn" data-category="3">See More</button>
      </div>
      <div class="category-section" id="category-4">
        <h2>Kategoria 4</h2>
        <div id="book-list-4" class="book-list">
          <!-- Tutaj będą wyświetlane książki z Kategorii 4 -->
        </div>
        <button type="button" class="see-more__btn" data-category="4">See More</button>
      </div>
    </div>
  </section>
</div>

