<main class="layout-shop">
    <aside class="aside">
      <div class="home__category-container container_active">
        <ul class="categories-list"></ul>
      </div>
      <include src="./partials/ukraine.html"></include>
    </aside>
    <div class="shopping-layout">
        <include src="./partials/shoppingList.html"></include>  
      <!-- <h2 class="home-heading">Best Sellers <span class="home-heading_custom">Books</span></h2>
      <div class="books-container"></div> -->
    </div>
  </main>