<button id="save-books-button">Pobierz i zapisz ID Top Books w local storage</button>
<button id="load-books-and-render">Pobierz ksiazki z localstorage i wyrenderuj markup</button>
<svg width="32" height="32">
  <use href="/src/images/icons.svg#icon-dump"></use>
</svg>
<section class="shopping">
  <h1 class="shopping__heading">Shopping<span class="shopping__heading--color"> List</span></h1>
  <ul class="shopping__cards"></ul>
  <div class="shopping__storage">
    <p class="shopping__storage-notification">
      This page is empty, add some books and proceed to order.
    </p>
    <img
      srcset="
        /src/images/shoppingList/shoping-list-empty-mobile-sm.png    265w,
        /src/images/shoppingList/shoping-list-empty-mobile-sm-2x.png 530w,
        /src/images/shoppingList/shoping-list-empty-lg.png           322w,
        /src/images/shoppingList/shoping-list-empty-lg-2x.png        644w
      "
      sizes="(min-width: 1440px) 322px, 265px"
      src="/src/images/shoppingList/shoping-list-empty-mobile-sm.png"
      alt="Images haven't found"
    />
  </div>
</section>

<!-- -------------------  -->
<!-- test code -->
<!-- <button id="fetchBooks">Pobierz 5 top books z API</button> -->
<!-- <button id="fetchBooks">Pobierz 5 top books</button> -->
<!-- <button id="save-books-button">Zapisz 5 Top Books w local storage</button> -->
<!-- <div id="books-container"></div> -->
<!-- <div id="render-books"></div> -->
