<div class="modal__container hidden">
  <div class="modal">
    <button class="modal__close-button modal__close-button">X</button>
    <div class="form_container">
      <form class="form">
        <div class="modal__input-group">
          <input type="text" placeholder="Name" name="name" />
        </div>
        <div class="modal__input-group">
          <input type="text" placeholder="Email" name="email" />
        </div>
        <div class="modal__input-group">
          <input type="password" placeholder="Password" name="password" />
        </div>
        <button class="modal__sign-up open-modal-button">Sign Up</button>
      </form>
      <div class="links">
        <a href="#">Sign Up</a>
        <a href="#">Sign In</a>
      </div>
    </div>
  </div>
</div>
