// .page {
//   min-height: 100vh;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;

//   margin-bottom: 0;
//   padding-top: 104px;
// }
// .layout {
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   margin-bottom: 40px;
//   padding-left: 10px;
//   padding-right: 10px;
// }
// .visually-hidden {
//   width: 1px;
//     height: 1px;
//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     border: 0;
//     margin: -1px;
//     padding: 0;
//     position: absolute;
//     overflow: hidden;
// }
// .categories-list {
// flex-direction: column;
// gap: 24px;
// display: flex;
// }
// .category {
//   letter-spacing: -.02em;
//     cursor: pointer;
//     font-size: 16px;
//     line-height: 1.12;
//     transition-property: font-size,color;
//     transition-duration: .25s;
//     transition-timing-function: cubic-bezier(.075,.82,.165,1);
// }
// .chosen-category {
//   color: #4F2EE8;
//   font-family: "DM Sans";
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 18px; /* 112.5% */
//   letter-spacing: -0.32px;
//   text-transform: uppercase;
// }
.layout{
    display: flex;
  flex-direction:row;
  gap: 40px;
//   margin-bottom: 40px;
//   padding-left: 10px;
//   padding-right: 10px;
// background-color: rgb(60, 11, 182);
}
.home-typeBook {
  // max-width: 1200px;//Aga 996px
 width: 100%; //Aga
  // background-color: #94e60f;
}
.home-heading {
  color: #111;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
  &_custom {
    // color: #4f2ee8;//aga
  }
}
.books-container{//aga
  width: 100%;
  // background-color: rgb(88, 88, 176);
}
.category-name {
  color: #b4afaf;
  max-width: 390px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.category-books {
  width: 100%;//Aga
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  // background-color: #a83845;
}
.book-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 180px;
  flex-wrap: wrap;
  gap: 4px;
  &_image {
    height: 256px;
    border-radius: 8px;
    background: lightgray 50% / cover no-repeat;
  }
  &_title {
    overflow: hidden;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
  }
  &_author {
    color: #b4afaf;
    font-family: DM Sans;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
  }
}
.see-more-button {
  display: block;
  margin-left: auto;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #111111;
  background-color: transparent;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #4f2ee8;
    color: #ffffff;
  }
}
