//.loader {
   // margin: auto;
   // border: 16px solid #f3f3f3;
   //border-top: 16px solid #4f2ee8;
    //border-radius: 50%;
    //width: 120px;
    //height: 120px;
   // animation: spin 2s linear infinite;
   // opacity: 0.7;
   // background-color: #fff;
    //z-index: 99;
  //}
   // @keyframes spin {
   // 0% { transform: rotate(0deg); }
   // 100% { transform: rotate(360deg); }
 // }
 // .hide-loader {
  //  display: none;
  //}

