.backdrop-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 550;
  background-color: rgba(128, 128, 128, 0.3);
  cursor: not-allowed;
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.popup {
  width: 100%;
  max-width: 579px;
  border-radius: 18px;
  border: 2px solid rgba(17, 17, 17, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  cursor: auto;
  padding: 40px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;

  &__btn-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-close {
    fill: rgba(17, 17, 17, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: rgba(79, 46, 232, 1);
      cursor: pointer;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 100%;
    height: 408px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 24px;
  }

  &__description {
    width: 100%;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: -0.64px;
    margin-bottom: 4px;
    margin-top: 14px;
  }

  &__author {
    color: rgba(180, 175, 175, 1);
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
    letter-spacing: -0.48px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin: 18px 0;
  }

  &__shops {
    display: flex;
    align-items: first baseline;
  }

  &__amazon-book {
    display: flex;
    align-items: center;
    width: 115px;
    justify-content: space-between;
  }

  &__amazon {
    width: 62px;
    height: 20px;
    //background-image: ;
    background-repeat: no-repeat;
  }

  &__icon-book {
    width: 32px;
    height: 32px;
    // background-image: ;
  }

  &__shops-list {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.56px;
    margin-left: 5px;
    font-weight: 500;
  }

  &__shops-link {
    color: orange;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: rgba(79, 46, 232, 1);
    }
  }

  &__btn-add,
  &__btn-remove {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid rgba(79, 46, 232, 1);
    padding: 14px 23px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: rgba(79, 46, 232, 1);
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }

  &__btn-text-hidden {
    display: none;
  }

  &__comment {
    text-align: center;
    font-size: 10px;
    color: rgba(17, 17, 17, 0.5);
    line-height: 12px;
    letter-spacing: -0.4px;
    max-width: 235px;
    width: 100%;
    margin: 0 auto;
    margin-top: 8px;
  }
}


.dark-theme .popup {
  background-color: rgba(32, 32, 36, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.dark-theme .popup__btn-close {
  color: white;
}
.dark-theme .popup__btn-add {
  color: white;
}